@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Italic.woff2") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter-MediumItalic.woff2") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-SemiBold.woff2") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-SemiBoldItalic.woff2") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff2") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-BoldItalic.woff2") format("woff2")
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/JetBrainsMono-Italic.woff2") format("woff2")
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/JetBrainsMono-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/JetBrainsMono-MediumItalic.woff2") format("woff2")
}

:root {
  --ifm-color-primary: #0b0b0b;
  --ifm-color-primary-dark: #0a0a0a;
  --ifm-color-primary-darker: #090909;
  --ifm-color-primary-darkest: #080808;
  --ifm-color-primary-light: #0c0c0c;
  --ifm-color-primary-lighter: #0d0d0d;
  --ifm-color-primary-lightest: #0e0e0e;
  --ifm-heading-color: #000;
  --ifm-background-color: #fff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.05);
  --ifm-footer-background-color: #0b0b0b;
  --ifm-font-family-base: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-h1-font-size: 3rem;
  --ifm-h2-font-size: 2rem;
  --ifm-heading-font-weight: 600;
  /* --ifm-navbar-height: 4.75rem; */
  --ifm-navbar-padding-horizontal: calc(var(--ifm-spacing-horizontal) * 1.75);
  --ifm-card-border-radius: var(--ifm-global-radius);
  --ifm-breadcrumb-border-radius: 4px;
  --ifm-breadcrumb-size-multiplier: 1 !important;
  --ifm-alert-border-left-width: 2px;
  --altv-border-default: 1px solid rgba(0, 0, 0, .1);
  --docsearch-modal-background: var(--ifm-background-color) !important;
  --docsearch-footer-background: var(--ifm-background-surface-color) !important;
  --docsearch-searchbox-focus-background: var(--ifm-background-color) !important;
  --docsearch-searchbox-shadow: none !important;
  --docsearch-footer-shadow: none !important;
  --docsearch-modal-shadow: none !important;
  --docsearch-text-color: var(--ifm-color-primary);
  --docsearch-searchbox-height: 2.5rem !important;
  --docsearch-container-background: rgba(0, 0, 0, .75) !important;
  --docsearch-hit-color: var(--ifm-font-color-base) !important;
  --docsearch-hit-active-color: var(--ifm-color-white) !important;
  --docsearch-hit-background: var(--ifm-color-white) !important;
  --docsearch-muted-color: var(--ifm-color-primary-darkest);
  /* --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 1.5); */
}

html[data-theme='dark'] {
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: #d6d6d6;
  --ifm-color-primary-darker: #cacaca;
  --ifm-color-primary-darkest: #ababab;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #0b0b0b;
  --ifm-heading-color: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(255 255, 255, 0.05);
  --ifm-footer-background-color: #0b0b0b;
  --ifm-navbar-background-color: #0f0f0f;
  --ifm-background-color: #111111;
  --ifm-toc-border-color: rgba(255, 255, 255, .1);
  --ifm-background-surface-color: #181818;
  --altv-border-default: 1px solid rgba(255, 255, 255, .1);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
}

.container {
  padding: 2rem 2rem;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navbar__logo {
  height: 2.5rem;
}

.navbar__item {
  padding: var(--ifm-navbar-item-padding-vertical) calc(var(--ifm-navbar-item-padding-horizontal) * 1.5);
}

.navbar__link {
  font-size: 14px;
  font-weight: 500;
  opacity: .75;
  transition: opacity .2s;
}

.navbar__link--active,
.navbar__link:hover {
  opacity: 1;
}

.dropdown__link:first-of-type {
  margin-top: 0;
}

.dropdown__menu hr {
  opacity: .25;
}

.navbar__toggle {
  margin-right: 0;
}

/* github */
/* background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat; */

/* discord */
/* background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.284 13.235s-.555-.677-1.017-1.276c2.019-.583 2.79-1.875 2.79-1.875a8.75 8.75 0 0 1-1.773.93c-.77.33-1.51.551-2.234.677-1.48.284-2.836.205-3.992-.016a12.721 12.721 0 0 1-2.265-.677 8.938 8.938 0 0 1-1.125-.536c-.046-.031-.093-.047-.139-.079-.03-.015-.046-.031-.062-.047-.277-.157-.431-.268-.431-.268s.74 1.26 2.697 1.86c-.462.598-1.033 1.307-1.033 1.307C1.295 13.125 0 10.84 0 10.84c0-5.073 2.22-9.185 2.22-9.185C4.437-.047 6.55 0 6.55 0l.154.19C3.93 1.008 2.65 2.252 2.65 2.252s.339-.189.909-.457c1.649-.74 2.959-.945 3.498-.992.093-.016.17-.032.262-.032.94-.126 2.004-.157 3.113-.031 1.464.173 3.036.614 4.639 1.512 0 0-1.217-1.181-3.837-2L11.45 0s2.112-.047 4.33 1.655c0 0 2.22 4.112 2.22 9.185 0 0-1.31 2.285-4.716 2.395ZM6.118 5.877c-.878 0-1.572.788-1.572 1.75 0 .96.71 1.748 1.572 1.748.879 0 1.572-.788 1.572-1.749.015-.961-.693-1.749-1.572-1.749Zm5.625 0c-.878 0-1.572.788-1.572 1.75 0 .96.71 1.748 1.572 1.748.879 0 1.572-.788 1.572-1.749 0-.961-.693-1.749-1.572-1.749Z'/%3E%3C/svg%3E") no-repeat center; */

.header-social-link svg {
  display: none;
}

.header-social-link:before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-social-link.github:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

[data-theme='dark'] .header-social-link.github:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

.header-social-link.discord:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 14'%3E%3Cpath d='M13.284 13.235s-.555-.677-1.017-1.276c2.019-.583 2.79-1.875 2.79-1.875a8.75 8.75 0 0 1-1.773.93c-.77.33-1.51.551-2.234.677-1.48.284-2.836.205-3.992-.016a12.721 12.721 0 0 1-2.265-.677 8.938 8.938 0 0 1-1.125-.536c-.046-.031-.093-.047-.139-.079-.03-.015-.046-.031-.062-.047-.277-.157-.431-.268-.431-.268s.74 1.26 2.697 1.86c-.462.598-1.033 1.307-1.033 1.307C1.295 13.125 0 10.84 0 10.84c0-5.073 2.22-9.185 2.22-9.185C4.437-.047 6.55 0 6.55 0l.154.19C3.93 1.008 2.65 2.252 2.65 2.252s.339-.189.909-.457c1.649-.74 2.959-.945 3.498-.992.093-.016.17-.032.262-.032.94-.126 2.004-.157 3.113-.031 1.464.173 3.036.614 4.639 1.512 0 0-1.217-1.181-3.837-2L11.45 0s2.112-.047 4.33 1.655c0 0 2.22 4.112 2.22 9.185 0 0-1.31 2.285-4.716 2.395ZM6.118 5.877c-.878 0-1.572.788-1.572 1.75 0 .96.71 1.748 1.572 1.748.879 0 1.572-.788 1.572-1.749.015-.961-.693-1.749-1.572-1.749Zm5.625 0c-.878 0-1.572.788-1.572 1.75 0 .96.71 1.748 1.572 1.748.879 0 1.572-.788 1.572-1.749 0-.961-.693-1.749-1.572-1.749Z'/%3E%3C/svg%3E");
}

[data-theme='dark'] .header-social-link.discord:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 14'%3E%3Cpath fill='white' d='M13.284 13.235s-.555-.677-1.017-1.276c2.019-.583 2.79-1.875 2.79-1.875a8.75 8.75 0 0 1-1.773.93c-.77.33-1.51.551-2.234.677-1.48.284-2.836.205-3.992-.016a12.721 12.721 0 0 1-2.265-.677 8.938 8.938 0 0 1-1.125-.536c-.046-.031-.093-.047-.139-.079-.03-.015-.046-.031-.062-.047-.277-.157-.431-.268-.431-.268s.74 1.26 2.697 1.86c-.462.598-1.033 1.307-1.033 1.307C1.295 13.125 0 10.84 0 10.84c0-5.073 2.22-9.185 2.22-9.185C4.437-.047 6.55 0 6.55 0l.154.19C3.93 1.008 2.65 2.252 2.65 2.252s.339-.189.909-.457c1.649-.74 2.959-.945 3.498-.992.093-.016.17-.032.262-.032.94-.126 2.004-.157 3.113-.031 1.464.173 3.036.614 4.639 1.512 0 0-1.217-1.181-3.837-2L11.45 0s2.112-.047 4.33 1.655c0 0 2.22 4.112 2.22 9.185 0 0-1.31 2.285-4.716 2.395ZM6.118 5.877c-.878 0-1.572.788-1.572 1.75 0 .96.71 1.748 1.572 1.748.879 0 1.572-.788 1.572-1.749.015-.961-.693-1.749-1.572-1.749Zm5.625 0c-.878 0-1.572.788-1.572 1.75 0 .96.71 1.748 1.572 1.748.879 0 1.572-.788 1.572-1.749 0-.961-.693-1.749-1.572-1.749Z'/%3E%3C/svg%3E");
}

.header-social-link:last-of-type {
  margin-right: 1em;
}

[data-theme='dark'] .menu {
  background: #0F0F0F;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.menu__link {
  padding: calc(var(--ifm-menu-link-padding-vertical) * 1.75) calc(var(--ifm-menu-link-padding-horizontal) * 1.25);
}

.menu__caret {
  padding: var(--ifm-menu-link-padding-vertical) calc(var(--ifm-menu-link-padding-horizontal) * 1.25);
}

.menu__link--sublist-caret:after,
.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.75rem 1.75rem;
}

/* .menu__link--active {
  border-right: 2px solid #0C943B;
  border-radius: 0.25rem 0 0 0.25rem;
} */

.menu__link {
  font-size: 0.875rem;
}

.theme-doc-sidebar-item-link:not(.theme-doc-sidebar-item-link-level-1) a {
  opacity: .75;
}

.theme-doc-sidebar-item-link:not(.theme-doc-sidebar-item-link-level-1) .menu__link--active {
  opacity: 1;
}

.breadcrumbs {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.breadcrumbs__link {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.03em;
}


table {
  display: table;
  width: 100%;
  border-radius: 8px;
}

[data-theme='dark'] table tr:nth-child(2n) {
  background-color: rgb(255 255 255 / 4%);
}

.hash-link {
  font-size: 75%;
}

.hash-link:focus,
*:hover>.hash-link {
  opacity: .5 !important;
}

.hash-link:hover {
  opacity: 1 !important;
  text-decoration: none;
}

.tsd-flag {
  color: #fff !important;
  opacity: 1 !important;
}

.tsd-footer {
  display: none;
}

[data-theme='dark'] .alert {
  background-color: #1E1E1E;
}

[data-theme='dark'] .alert--success {
  background-color: #1C321F;
}

[data-theme='dark'] .alert--info {
  background-color: #27383D;
}

[data-theme='dark'] .alert--warning {
  background-color: #403621;
}

[data-theme='dark'] .alert--danger {
  background-color: #3F2324;
}

.pagination-nav__link {
  border: none;
  padding: 0;
  margin-bottom: 3rem;
}

.pagination-nav__sublabel {
  opacity: .5;
  transition: opacity .2s;
  font-size: var(--ifm-h5-font-size);
  font-weight: 400;
}

.pagination-nav__link:hover .pagination-nav__sublabel {
  opacity: 1;
}

.pagination-nav__label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--ifm-h5-font-size);
}

.pagination-nav__link--next .pagination-nav__label {
  justify-content: flex-end;
}

.pagination-nav__link--prev .pagination-nav__label::before,
.pagination-nav__link--next .pagination-nav__label::after {
  display: inline-block;
  content: "";
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.75rem 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
  margin-left: -1.75rem;
  margin-top: 1px;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  transform: rotate(-90deg);
  transition: transform .2s;
}

.pagination-nav__link--next .pagination-nav__label::after {
  margin-left: 0;
  margin-right: -1.75rem;
  transform: rotate(90deg);
}

.pagination-nav__link:hover .pagination-nav__label::after {
  transform: rotate(90deg) translateY(-4px);
}

.pagination-nav__link:hover .pagination-nav__label::before {
  transform: rotate(-90deg) translateY(-4px);
}

.table-of-contents__link {
  opacity: .75;
  transition: opacity .2s;
  font-weight: 400;
  letter-spacing: 0.02em;
}

[data-theme='dark'] .table-of-contents__link {
  opacity: .5;
}

.table-of-contents__link:hover,
.table-of-contents__link:hover code {
  opacity: .75;
}

.table-of-contents__link--active,
.table-of-contents__link--active code,
[data-theme='dark'] .table-of-contents__link--active {
  opacity: 1;
  font-weight: 600;
}

.utterances {
  margin-left: 0;
  margin-right: 0;
  max-width: 934px;
}

.footer--dark {
  --ifm-footer-background-color: #0f0f0f;
}

.DocSearch-Modal {
  border: var(--altv-border-default);
}

.DocSearch-Input {
  padding: 0 0 0 16px !important;
}

.DocSearch-Input::placeholder {
  color: var(--ifm-color-primary-darker) !important;
  opacity: .5 !important;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  width: 20px !important;
  height: 20px !important;
}

.DocSearch-Hit-source {
  color: var(--ifm-color-primary-darkest) !important;
  font-size: 1rem !important;
  margin: .5rem 0 !important;
  font-weight: 500 !important;
}

.DocSearch-Hit a {
  background: none !important;
}

.DocSearch-Hit[aria-selected=true] a {
  background: var(--ifm-background-surface-color) !important;
}

.DocSearch-Footer {
  justify-content: center !important;
}

.DocSearch-Logo {
  display: none !important;
}

@media screen and (max-width: 996px) {
  .navbar__items {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}